---
import LinkButton from './LinkButton.astro';

type Props = {
  imageSrc: string;
  altText: string;
  linkedinLink?: string;
  githubLink: string;
  webLink?: string;
};

const { imageSrc, altText, linkedinLink, githubLink, webLink } = Astro.props;
---

<div class="bubble">
  <img src={imageSrc} alt={altText} class="avatar-volunteer" />
  <div class="buttons-volunteer">
    {
      linkedinLink && (
        <LinkButton
          external
          hideLabel
          link={linkedinLink}
          label="LinkedIn"
          icon="socials/linkedin"
          shadow="green"
          bgColor="var(--linkedin-color)"
          textColor="var(--text-color)"
        />
      )
    }

    {
      webLink && (
        <LinkButton
          external
          hideLabel
          link={webLink}
          label="Demo"
          icon="socials/website"
          shadow="green"
          bgColor="var(--cinnabar-color)"
          textColor="var(--text-color)"
        />
      )
    }

    <LinkButton
      external
      hideLabel
      link={githubLink}
      label="GitHub"
      icon="socials/github"
      shadow="green"
      bgColor="var(--github-color)"
      textColor="var(--text-color)"
    />
  </div>
</div>

<style>
  .bubble {
    width: 131px;
    position: relative;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      background-color: var(--spring-green-color);

      width: 0.5rem;
      height: 6rem;
      inset-block-start: -1.5rem;
      inset-inline-start: 50%;
      transform: translateX(-50%);

      @media (width < 768px) {
        display: none;
      }
    }

    .avatar-volunteer {
      border-radius: 100%;
      border: 2px solid var(--spring-green-color);
    }

    .buttons-volunteer {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      position: relative;
      top: -20px;
    }
  }
</style>
