---
type Props = {
  title: string;
  desc: string;
  photo: string;
  className: string;
};

const { title, desc, photo, className } = Astro.props;
---

<div class={`card-wrapper ${className}`}>
  <img src={`/assets/images/projects/${photo}`} alt={title} />
  <div class="card-info">
    <div>
      <h3>{title}</h3>
      <p>{desc}</p>
    </div>
    <div class="card-buttons">
      <slot />
    </div>
  </div>
</div>

<style>
  .card-wrapper {
    border-radius: 1rem;
    border: 2px solid var(--alt-text-color);
    box-shadow: 4px 4px var(--spring-green-color);
    padding: 1rem;

    @media (max-width: 430px) {
      width: 90%;
    }

    & .card-info {
      padding: 1rem 0;
      color: var(--alt-text-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      & h3 {
        font-family: var(--main-font-family);
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }

    & .card-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .project-principal {
    max-width: 1114px;
    max-height: 300px;
    background-color: var(--lavender-rose-color);

    display: flex;
    gap: 1rem;

    & img {
      aspect-ratio: 1;
      width: 100%;
      object-fit: contain;
    }

    @media (width <= 768) {
      flex-direction: column;
      max-height: none;
    }
  }

  .project-secondary,
  .project-tertiary {
    position: relative;
    width: 550px;

    display: flex;
    gap: 1rem;

    & img {
      width: 226px;
      height: 273px;
      aspect-ratio: 1;
      border-radius: 1rem;
      object-fit: cover;
      object-position: 0%;
    }

    .card-buttons {
      position: absolute;
      bottom: 4rem;
      left: 1rem;
    }

    @media (width <= 768px) {
      width: 90%;
      flex-direction: column;

      & img {
        width: 1000%;
        height: 273px;
        aspect-ratio: 1;
        border-radius: 1rem;
        object-fit: cover;
        object-position: 0%;
      }

      .card-buttons {
        position: relative;
        bottom: 0;
        left: 0;
      }
    }
  }

  .project-secondary {
    background-color: var(--burning-orange-color);
  }

  .project-tertiary {
    background-color: var(--saffron-color);
  }
</style>
