---
import type { VolunteerMember } from '@contracts';

import RoleTag from './RoleTag.astro';
import LinkButton from './LinkButton.astro';

type Props = VolunteerMember;

const { img, name, socials, tags } = Astro.props;
---

<article class="card-wrapper">
  <img src=`/assets/images/volunteers/${img}.webp` alt={name} />

  <header class="card-info">
    <h3>{name}</h3>
  </header>

  <div class="card-row">
    {tags.map(tag => <RoleTag role={tag} />)}
  </div>

  <div class="card-row">
    {
      socials.map(({ icon, label, link, color }) => (
        <LinkButton external hideLabel label={label} link={link} icon={`socials/${icon}`} textColor={color} />
      ))
    }
  </div>
</article>

<style>
  .card-wrapper {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 24rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--alt-text-color);
    border: 2px solid var(--alt-text-color);
    background-color: var(--golden-tainoi-color);
    box-shadow: 0.25rem 0.25rem 0 var(--spring-green-color);

    & img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 1rem;
      border: 2px solid var(--alt-text-color);
    }

    & .card-info h3 {
      line-height: 1;
      font-weight: 600;
      font-size: 1.75rem;
      text-align: center;
      font-family: var(--main-font-family);
    }

    & .card-row {
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    @media (width <= 430) {
      width: 100%;
    }
  }
</style>
