---
import Button from '@components/LinkButton.astro';
import VolunteerCard from '@components/VolunteerCard.astro';

const volunteers = [
  {
    name: 'Facundo D’Andrea',
    desc: 'Lorem ipsum dolor sit amet consectetur. Velit tristique viverra enim diam cursus.',
    photo: 'facu.webp',
    tags: ['Dev', 'Custom color'],
    socials: [
      {
        name: 'LinkedIn',
        link: 'https://www.linkedin.com/company/uxcorprangel',
        iconName: 'socials/linkedin'
      }
    ]
  },
  {
    name: 'Facundo D’Andrea',
    desc: 'Lorem ipsum dolor sit amet consectetur. Velit tristique viverra enim diam cursus.',
    photo: 'facu.webp',
    tags: ['Dev', 'Custom color'],
    socials: []
  },
  {
    name: 'Facundo D’Andrea',
    desc: 'Lorem ipsum dolor sit amet consectetur. Velit tristique viverra enim diam cursus.',
    photo: 'facu.webp',
    tags: ['Dev', 'Custom color'],
    socials: []
  },
  {
    name: 'Facundo D’Andrea',
    desc: 'Lorem ipsum dolor sit amet consectetur. Velit tristique viverra enim diam cursus.',
    photo: 'facu.webp',
    tags: ['Dev', 'Custom color'],
    socials: []
  },
  {
    name: 'Facundo D’Andrea',
    desc: 'Lorem ipsum dolor sit amet consectetur. Velit tristique viverra enim diam cursus.',
    photo: 'facu.webp',
    tags: ['Dev'],
    socials: []
  }
];
---

<section id="voluntarios">
  <div class="container">
    <header>
      <h1>Voluntarios</h1>
    </header>
    <article class="cards-container">
      {
        volunteers.map(({ name, desc, photo, socials, tags }) => (
          <VolunteerCard name={name} desc={desc} photo={photo}>
            {tags.map(tag => (
              // we need to implement a tag component
              <span
                class="tag"
                style="border: 1px solid var(--alt-text-color); color: var(--alt-text-color); border-radius: 24px; display: flex; align-items: center; padding: 0.5rem 0.75rem; background: var(--magic-mint-color);"
              >
                {tag}
              </span>
            ))}

            {socials.map(({ name, link, iconName }) => (
              <Button external label={name} link={link} icon={iconName} />
            ))}

            {/* examples */}
            <Button label="Custom Color" link="#" textColor="red" bgColor="rgb(120 60 120)" />
            <Button label="With icon" link="#" icon="socials/linkedin" />
            <Button label="Only icon" link="#" icon="socials/github" hideLabel />
          </VolunteerCard>
        ))
      }
    </article>
  </div>
</section>

<style>
  section {
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .container {
      width: min(80rem, 100vw);

      @media (width < 1280px) {
        width: 90%;
      }
    }

    & header {
      & h1 {
        font-weight: 400;
        font-size: 4.375rem;
        text-align: center;
        margin-bottom: 4rem;
        text-decoration: underline 0.25rem;
      }
    }

    & .cards-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin: 0 auto;
    }
  }

  @media (width <= 768px) {
    section {
      & header {
        & h1 {
          font-size: 2.188em;
        }
      }

      & .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
      }
    }
  }
</style>
