---
import '@fontsource/titan-one';
import '@fontsource-variable/onest';

import 'sanitize.css';
import 'sanitize.css/forms.css';
import 'sanitize.css/assets.css';
import 'sanitize.css/typography.css';

import { Schema } from 'astro-seo-schema';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const site = import.meta.env.SITE;
const ogURL = `${site}/og.png`;
---

<!doctype html>
<html lang="es">
  <head>
    {description && <meta name="description" content={description} />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    {description && <meta name="description" content={description} />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    {
      description && (
        <Schema
          item={{
            '@context': 'https://schema.org',
            '@type': 'Organization',
            name: 'UX Corp Rangel',
            description,
            image: ogURL,
            url: site
          }}
        />
      )
    }

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={site} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=`${title}` />
    <meta property="og:description" content=`${description}` />
    <meta property="og:image" content={ogURL} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content=`${site}` />
    <meta property="twitter:url" content=`${site}` />
    <meta name="twitter:title" content=`${title}` />
    <meta name="twitter:description" content=`${description}` />
    <meta name="twitter:image" content={ogURL} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @view-transition {
    navigation: auto;
  }

  :root {
    --bg-color: #010c15;
    --text-color: #e5e9f0;
    --alt-text-color: #04011c;

    --mauve-color: #cb9cf8;
    --portage-color: #91a8ed;
    --saffron-color: #f7cb45;
    --cinnabar-color: #ee2525;
    --magic-mint-color: #a2efc4;
    --violet-red-color: #ea4c89;
    --persian-red-color: #d02123;
    --burnt-sienna-color: #ed6942;
    --fuchsia-blue-color: #855ae1;
    --spring-green-color: #39ed81;
    --golden-tainoi-color: #fac646;
    --lavender-rose-color: #ff91e7;
    --burning-orange-color: #ff6c3c;
    --electric-violet-color: #9747ff;

    --github-color: #1e1e1e;
    --discord-color: #5865f2;
    --linkedin-color: #0e76a8;

    --header-font-family: 'Titan One', system-ui;
    --main-font-family: 'Onest Variable', sans-serif;

    color-scheme: dark;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    --scrollbar-size: 0.4rem;

    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--main-font-family);
    cursor: url(/assets/images/cursor/cursor-auto.png), auto;

    &::-webkit-scrollbar {
      width: var(--scrollbar-size);
      height: var(--scrollbar-size);
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.2rem;
      background: var(--bg-color);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.2rem;
      background: var(--cinnabar-color);
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--cinnabar-color) var(--bg-color);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  p * {
    cursor: url(/assets/images/cursor/cursor-text.png), text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font-family);
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  a,
  a *,
  button,
  button * {
    cursor: url(/assets/images/cursor/cursor-pointer.png), pointer;
  }

  a:active,
  a:active *,
  button:active,
  button:active * {
    cursor: url(/assets/images/cursor/cursor-pointer-clicked.png), pointer;
  }
</style>
